/* 2.1 Import fonts & define variables */
@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
  --primary-color: #52489c;
  --secondary-color: #59c3c3;
  --accent-color: #f45b69;
  --text-dark: #333;
  --text-light: #ebebeb;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: "Mooli", sans-serif;
}
h2 {
    text-align: center;
}

/* 2.3 Header & nav */
header {
  text-align: center;
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--text-light);
  font-family: var(--primary-font);
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

#menu-btn {
  background-color: var(--primary-color);
  border: none;
  color: var(--text-light);
  font-size: 1.2em;

}
nav {
  display: none; /* hidden on mobile */
}
nav a {
  display : inline-block;
  color: var(--text-light);
  text-decoration: none;
  margin-left: 1rem;
  
}
ul {
  padding-left: 0;
}
li {
  list-style-type: none;  /* turns off bullets on the <li> */
  margin: 0;
  padding: none;
}
/* 2.4 Gallery styles */
.gallery {
  margin: .2em, 1rem, 1rem, 1em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  padding: 1rem;
}

figure {
  margin: 2em;
  overflow: hidden;
  padding : 0.8rem;           
  
    /* box-shadow: x-offset y-offset blur-radius spread-radius color */
    box-shadow: 1px 10px 10px rgba(0, 0, 0.5, 0.5);
  
    /* optional: soften the corners */
    border-radius: 5px; 
}
figure img {
  display: block;
  width: 250px;
  height: 250px;
  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* 2.5 Footer */
footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--secondary-color);
  color: var(--text-light);
  margin-top: 2em;
}

/* Hide scrollbar for all elements */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* 2.6 First breakpoint: ≥700px (two columns) */
@media (min-width: 700px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }


  /* Hide scrollbar for all elements */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

}

/* 2.7 Second breakpoint: ≥1000px (three columns, horizontal nav) */
@media (min-width: 1000px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 8em;
    margin-right: 8em;
    
  }

  nav{
    display: flex; /* show on desktop */
    row-gap: 0.5rem;
    
  }

  nav ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin:0 auto;
    padding-bottom:0.5rem;
    gap: 7rem;

  }

  header {
    display: grid;
    justify-items: center;       /* center children horizontally */
    row-gap: 1rem;               /* vertical space between rows */
    /* implicitly it's two rows: the <h1> and then the <nav> */
  }

  #menu-btn {
    display: none;
  }
  
}

