body {
  font-family: Palatino Linotype, sans-serif;
  background: #f0f4f8;
  margin: 0;
  padding: 0;
}
.card {
  background: #313131;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.9);
  width: 90vw;
  max-width: 400px;
  margin: 40px auto;
  overflow: hidden;
  text-align: left;
}
.image{
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0 0;
  display: block;
}
.name {
  font-size: 1.5em;
  font-weight: bold;
  margin: -4px 0 20px 0;
  color: white;
  padding: 15px 0 15px 8vw;
  background-color: #5d747b;
}
.stats {
  margin: 10px 5vw 7px 8vw;
  text-align: left;
}
.stats p {
  margin: 5px 0;
  color: #f0f4f8;
}
.buttons {
  text-align: center;
}
button {
  padding: 8px 12px;
  margin: 20px 10px;
  border: none;
  border-radius: 8px;
  background-color: #5d747b;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s ease;
  font-size: 1em;
}
button:focus {
  outline: 2px solid #fff;
  outline-offset: 2px;
}
button:hover {
  background-color: #58605a;
}
#log {
  color: #ffe082;
  font-size: 1em;
  margin: 0 5vw 15px 8vw;
}
@media (max-width: 600px) {
  .card {
    width: 98vw;
    margin: 10px auto;
    max-width: 98vw;
  }
  .name, .stats, #log {
    padding-left: 4vw;
    margin-left: 0;
    margin-right: 0;
  }
  button {
    width: 90%;
    margin: 10px 0;
    font-size: 1.1em;
  }
}
